<?xml version='1.0' encoding='utf-8'?>
<widget id="com.workz.none" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Workz</name>
    <description>
    A blank PhoneGap app.
  </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
    PhoneGap Team
  </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="BackupWebStorage" value="local" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <platform name="android">
        <resource-file src="google-services.json" target="google-services.json" />
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
        <allow-intent href="itms:*" />
        <allow-navigation href="*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <universal-links>
        <host name="workz.page.link/qL6j" scheme="https" />
        <host name="workz-a9334.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-console" spec="^1.1.0" />
    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
        <variable name="URL_SCHEME" value="com.workz.none" />
    </plugin>
    <plugin name="cordova-plugin-browsertab" spec="^0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-globalization" spec="^1.11.0" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-buildinfo" spec="^2.0.2" />
    <plugin name="cordova-universal-links-plugin" spec="^1.2.1" />
    <engine name="ios" spec="~4.5.5" />
</widget>
